glove.6B/
glove.6B.zip
.idea
.ipynb_checkpoints/*
log.txt
realtoxicityprompts-data.tar.gz
realtoxicityprompts-data/*
.DS_Store/*
.DS_Store
__pycache__/*
scripts/realtoxicityprompts-data/*
scripts/glove.6B/
scripts/glove.6B/*
